/* Color root */
:root {
  --pink: #ff046f;
  --violet: #c63bfa;
}
.heading {
  font-size: 2.2rem;
  color: var(--main-color);
  text-align: center;
  padding: 0 1rem;
  padding-top: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
}
.title {
  padding: 0 1rem;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
  color: var(--black-90);
}

/* review */

.review .box-container {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
  flex-wrap: wrap;
}
.review .box-container .box {
  width: 20rem;
  padding-bottom: 1rem;
  text-align: center;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
  background: var(--white);
  margin: 4rem 2rem;
}
.review .box-container .box img {
  height: 6.5rem;
  width: 6.5rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -4rem;
  border: 0.6rem solid var(--bs-pink);
  border-left: 0.6rem solid var(--green-light);
  border-bottom: 0.6rem solid var(--green-light);
}
.review .box-container .box h3 {
  font-size: 1.4rem;
  color: var(--black-90);
  padding: 01rem 0.5rem;
}
.review .box-container .box p {
  font-size: 1.2rem;
  color: var(--black-70);
  padding: 0 1.3rem;
}
.review .box-container .box .stars i {
  font-size: 1rem;
  color: var(--orange);
  padding: 1.3rem 0.1rem;
}
